* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

.nav-main {
  border-bottom: 1px #F4F4F4 solid;
  padding: 0 7em;
  position: fixed;
  z-index: 20;
  background: #fff; }

.item-product, .item-brand, .title-product, .item-fix, .indications,
.link-main {
  font-size: 0.8em;
  line-height: 31px;
  color: #333333 !important;
  text-decoration: underline;
  font-weight: 600;
  display: inline-block; }

.nav-link:hover {
  text-decoration: none; }

.title-main {
  font-size: 3em;
  display: inline-block;
  transition: all 1s; }

.cont-badges {
  position: fixed;
  top: 3em;
  height: 10.9vh;
  z-index: 10;
  background: #fff; }

.badgs, .badgs-fix {
  position: relative;
  left: 49em;
  padding: 1em; }

.item-product, .item-brand, .title-product, .item-fix, .indications {
  position: relative;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0 1em; }

.close {
  cursor: pointer; }

.hidden {
  display: none; }

.highlight:hover:before {
  background-color: #fffe94;
  content: "";
  height: 5px;
  left: 0;
  bottom: 14px;
  position: absolute;
  width: 100%;
  z-index: -1; }

.search, .brand {
  background: #F3F3F3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  transition: all 1.5s; }

.input-search {
  background: transparent;
  border: none;
  width: 72em;
  text-align: center; }

.input-detail:focus,
.input-register:focus,
.input-favorite:focus,
.input-checkout:focus,
.btn-fb:focus,
.btn-g:focus,
.input-search:focus,
button.close {
  outline: 0; }

.input-search::placeholder {
  padding: 0 28em; }

#icon-search {
  cursor: pointer; }

.pad-x2 {
  padding: 0 1em; }

.mrg-0 {
  margin: 0; }

.pad-x3 {
  padding: 1.5em 0; }

.pad-x4 {
  padding: 0.2em 0; }

.pad-x1 {
  padding: 0 0.3em; }

.nav-product {
  display: inline-block; }

.main-header, .main-fix {
  display: flex;
  top: 7em;
  justify-content: center;
  position: fixed;
  z-index: 13;
  flex-direction: column;
  transition: all 1s; }

.main-brand {
  display: flex;
  background: #fff;
  transition: all 1s;
  flex-direction: column;
  position: fixed;
  top: 18em;
  z-index: 12;
  padding: 0; }

.brand {
  background: #333333;
  height: 2.7em; }

.cont-brands {
  margin: 0; }

.item-brand {
  color: #fff !important; }

.product {
  width: 100%; }

.translate {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 73%;
  height: 1vh;
  transition: all 1s;
  z-index: 15;
  transform: translate(0px, -48px); }

/***********grilla productos**********/
.grid-product {
  position: relative;
  top: 24.2em;
  transition: all 1s; }

.trigger-modal {
  cursor: pointer; }

.bdr-top {
  border-top: 0.2em #F4F4F4 solid; }

.bdr-bottom {
  border-bottom: 0.4em #F4F4F4 solid; }

.bdr-dotted {
  border-top: 0.3em #F4F4F4 dotted; }

.modal-content {
  padding: 1em 1.5em; }

.modal-dialog {
  max-width: 57.5vw; }

.modal-backdrop.show {
  top: 24.6vh; }

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 25vh);
  transform: translate(0, 25vh); }

.input-detail {
  background: #F3F3F3;
  width: 100%;
  border: none;
  height: 5vh;
  margin: 0.5em 0; }

.flavor {
  padding: 0.8em;
  margin: 0.5em;
  background: red;
  border-radius: 7em; }

.flavor-available,
.measure-available {
  display: flex;
  padding: 1em 0;
  justify-content: space-around;
  align-items: center; }

.input-detail:hover {
  color: #b5b5b5 !important; }

.icon-product {
  color: #A1A1A1;
  font-size: 1.2em;
  padding: 0.5em; }

.title-product {
  color: #7B7B7B;
  margin: 0;
  line-height: 0; }

.quantity,
.stock {
  font-size: 0.9em;
  color: #333333;
  margin: 0;
  line-height: 0.7em; }

.quantity {
  color: #969696; }

/******register***********/
.main-fix {
  flex-direction: row;
  top: 3em;
  background: #fff;
  align-items: center;
  padding: 0.5em 3em;
  justify-content: space-around; }

.item-fix {
  padding: 0 0.2em; }

.badgs-fix {
  left: 0; }

.logo-fix,
.title-fix {
  font-size: 2.3em;
  position: relative; }

.logo-fix {
  left: -3.5em;
  top: -0.2em; }

.dashboard {
  background: #F3F3F3;
  top: 8.5em;
  position: relative;
  display: flex;
  border-bottom: dashed 0.3em;
  border-top: dashed 0.3em;
  flex-direction: column;
  justify-content: center; }

.detail-register {
  padding: 2em 0; }

.register {
  background: #fff;
  width: 36.5em;
  padding: 1em;
  margin: 0 auto; }

.input-register, .input-favorite, .input-checkout, .btn-fb, .btn-g {
  -webkit-box-sizing: content-box;
  box-shadow: none;
  box-sizing: content-box;
  display: block;
  height: 40px;
  padding: 4px 19px;
  margin: 12px 4px;
  width: 88%;
  width: calc(100% - 38px);
  border: none;
  background: #F6F6F6; }

.input-favorite, .input-checkout {
  background: #333333;
  color: #fff !important; }

.input-register::placeholder, .input-favorite::placeholder, .input-checkout::placeholder, .btn-fb::placeholder, .btn-g::placeholder {
  color: #333;
  font-size: 14px;
  line-height: 12px;
  font-weight: 500; }

.indications {
  width: 100%;
  margin: 0.5em 0 0;
  padding: 0 1.5em; }

.term-leg {
  line-height: 1.5;
  font-weight: 500;
  color: #333;
  padding-top: 15px;
  font-size: 10px; }

.btn-fb {
  background: #3C55A2; }

.btn-g {
  background: #fff;
  border: solid 2px #F2F2F2; }

.pd-0 {
  padding: 0; }

/*****************login***************/
.tooltip-login, .tooltip-car {
  z-index: 60;
  display: none;
  padding: 1.2em 0;
  width: 24vw;
  top: 3em;
  position: fixed;
  border: 1px solid #F4F4F4;
  right: 8em;
  background: #fff; }

.tooltip-car {
  top: 6em;
  right: 6em;
  width: 22vw; }

button.close {
  padding: 0 16px; }

.cross-out {
  background-color: #fffe94;
  height: 5px;
  width: 70%;
  z-index: -1; }

/********************tooltip-car********************/
.item-purchase {
  border-top: 0.5px solid #F4F4F4;
  border-bottom: 0.5px solid #F4F4F4;
  padding: 0 2.5em; }

.text-purchase {
  font-size: 12px; }

/******************shopping********************/
.shopping {
  position: relative;
  top: 9em; }

.title-shopping {
  margin: 0 auto 1em auto;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 0 1em; }

h2:before {
  background-color: #fffe94;
  content: "";
  height: 5px;
  left: 0;
  bottom: 14px;
  position: absolute;
  width: 100%;
  z-index: -1; }

.guide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.input-checkout {
  width: 20%; }

span.step:after {
  content: "|";
  margin-left: 15px;
  font-weight: bold;
  display: inline-block;
  margin-right: 15px; }

.text-shopping {
  width: 60%;
  font-size: 13px; }

/*# sourceMappingURL=style.css.map */
